# OS
*.DS_STORE
._*
Thumbs.db
*.lnk

# Python
__pycache__/
*.py[codz]

# Workspace
.vscode/
test*.py
editable_icon.svg

# Enviroment
env/

# Output
output/

# Build
src/dist/
src/build/uc-nrc-icalendar/*
*.cmd
*.exe
