/*
Copyright 2020 © Benjamín Vicente
This file is part of uc-nrc-icalendar.

uc-nrc-icalendar is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

uc-nrc-icalendar is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with uc-nrc-icalendar.  If not, see <https://www.gnu.org/licenses/>. */

.MainWindow {
  background: #fff;
  max-height: 450;
  max-width: 700;
}

.QPushButton {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #3d6cca;
  color: #fff;
  border: 0;
  padding: 5px;
}

.QPushButton:hover {
  background: #4275db;
}

.QPushButton:disabled {
  color: #000000;
  background: #9eabc5;
}

.QLineEdit {
  font-size: 12px;
}

.QLabel {
  font-size: 12px;
}

.QLabel#CLAS {
  background: #fbc575;
}
.QLabel#AYU {
  background: #99cc99;
}
.QLabel#LAB {
  background: #b3d4f5;
}
.QLabel#TER {
  background: #ffccff;
}
.QLabel#TAL {
  background: #c7c2f8;
}
.QLabel#PRA {
  background: #cccc99;
}
.QLabel#TES {
  background: #b2efef;
}
.QLabel#OTR {
  background: #ff9999;
}
